extends layout

block content
  article
    <h1>The Daiquiri Page of Records</h1>
    <p>with a twist of lemon</p>

    <p>Welcome to the page of mind-numbing statistics about the newsgroup aus.tv.x-files. I think it's all fairly self-explanatory from this point on.</p>
    
    <p>Some of these &quot;claims&quot; may be out of date, so email <a href="mailto:atxf@geocities.com">atxf@geocities.com</a> and provide evidence and/or a large bribe and it will be changed sometime before the next millenium</p>
    <p>Gatherings and other events at which to loose your head.</p>
    <p>People who have achieved things above and beyond the call of duty.</p>
    <p> The Trophy Case of Awards for Good Posting.</p>
    <p>What the hell is in a Daiquiri anyway?</p>

    <h2>Gatherings</h2>

    <dl>
    <dt>First and ONLY ATXer to be in an Episode...</dt>
    <dd>HOLLY ALEXANDER!!!!</dd>

    <dt>Furtherest distance travelled, not to meet Gillian Anderson:</dt>
    <dd>HOLLY ALEXANDER!!!</dd>

    <dt>Furthest distance travelled to attend (in person) a gathering:</dt>
    <dd>
    <ol>
    <li>Lyndal Cairns (Brisbane to Melbourne 1/97, Canberra 1/97 and Sydney 1/97)(all in one month?!!!)</li>
    </ol>

    <p>Other notables include:</p>

    <ol start='2'>
    <li>Nina Notomi (Brisbane to Melbourne for the 1/96 Melbourne Gathering and the 1/97 social gathering) </li>
    <li>Wolfgang (Townsville to Melbourne for a special social gathering in Dec 97)</li>
    <li>Robin (Brisbane to Melbourne for the 7/98 $teve - Missy  Birthday Gathering)<i> BY BUS!</i></li>
    <li>Leith (Brisbane to Melbourne for the 9/98 Melbourne Gathering)</li>
    <li>$teve (Brisbane to Melbourne for the 11/97 Melbourne Gathering)</li>
    <li>Ralph the Wonder Llama (Hobart to Sydney for the 3rd Social Gathering - mm/96) </li>
    <li>Holly Alexander (Melbourne to Brisbane 07/96) </li>
    <li>Steve Leahy (Canberra to Brisbane for the 10/96 and 1/97 social gatherings) </li>
    <li>Antti Roppola (Canberra to Brisbane for the 10/96 social gathering)</li>
    </ol>

    <p><i>(note this has been *properly* reordered in order of Distance Travelled)</i></p>
    </dd>
    <dt>People to have physically attended gatherings in five cities:</dt>
    <dd>
    <ol>
    <li>Lyndal Cairns (Brisbane, Canberra, Melbourne, Sydney, Wollongong)</li>
    </ol>
    <p>&nbsp;</p>
    </td>
    <td width="13%">&nbsp;</td>
    </tr>
    <dt>People to have physically attended gatherings in four cities:</dt>
    <dd>
    <ol>
    <li>Annette Fraser (Sydney; Brisbane, Melbourne, Wollongong) </li>
    <li>Steve Leahy (Sydney, Canberra, Brisbane, Melbourne) </li>
    <li>Antti Roppola (Sydney, Canberra, Brisbane, Melbourne) </li>
    </ol>
    <p>&nbsp;</p>
    </td>
    <td width="13%">&nbsp;</td>
    </tr>
    <dt>People to have physically attended gatherings in three citie</dt>
    <dd>
    <ol>
    <li>Leith (Brisbane, Sydney, Melbourne 9/98) </li>
    <li>Nina Notomi (Brisbane; Melbourne 1/97; Sydney ??) </li>
    <li>Daniel Lam (Sydney, Melbourne, Wollongong mm/96) </li>
    <li>Ken Finlayson (Sydney, Wollongong, Brisbane 1/97) </li>
    <li>$teve (Brisbane, Sydney 11/96, Melbourne 11/97) </li>
    <li>quokka (Sydney, Melbourne 97, Brisbane 5?/98)</li>
    <li>Stephen Turtle (Brisbane, Sydney 8/96, Canberra 8/96)</li>
    </ol>
    </dd>
    <dt>People to have physically attended gatherings in two cities:</b></dt>
    <dd>
    <ol>
    <li>Robin (Melbourne, Brisbane 7/98) </li>
    <li>Holly Alexander (Melbourne, Brisbane 7/96) </li>
    <li>/Matt (Sydney, Brisbane mm/yy) </li>
    <li>Intensity (Townsville, Brisbane) </li>
    <li>Gene Davidson (Sydney, Wollongong) </li>
    <li>Marcus Lee (Sydney, Wollongong)</li>
    <li>Rachael Bahl (Melbourne, Canberra ?/98)</li>
    <li>Seemi (Cairns, Brisbane 6/98)</li>
    <li>Creepy (Brisbane, Cairns 8/98)</li>
    </ol>
    </dd>

    <h2>Dodgy Facts</h2>
    <p>(ie. need to re-verify)</p>


    <dd>Most Gatherings hosted by one person:</dd>
    <dt>
    <p>/Matt </p>
    <p>NB: How many, when, why, who, which, where. (always reporting)<br>
    Vanessa has hosted all of our since 2/97</p>
    </dt>

    <h2>X-Reports and Awards</h2>


    <dd>Most number of X-Reports produced by one author:</dd>
    <dt>
    <p>Steve Leahy (Claytons X-Reports 1 to 15) </p>
    <p>NB: How many has $teve (and others) done?<br> NB: How many have I done? <i><b>8</b></i> + 2 for 98 + 3? for 97<br> I'm almost there baby! </p>
    </dt>

    <dt>Most number of X-Reports produced by one set of authors:</dt>
    <dd>Maxwell/Intensity Enterprises (Penguin Reports 1 to 7) </dd>

    <dt>1995,1996 &amp; 1997 X Report Award Winners:</dt>
    <dd>Temporily Lost on the Ether</dd>


    <dt>1998 X Report Award Winners, in order of number of awards.</dt>
    <dd>       
    <p> Please note that this list includes winners who were specifically named. Any &quot;and all those who participated in...&quot; type awards have been left out.</p>
    <p>NB: Not done yet. If you want it done <a href="mailto:atxf@geocities.com">hassle</a> me</p>
    </dd>

    <h2>Miscellaneous</h2>

    <dt>Furthest distance travelled to meet other ATXFers:</dt>
    <dd>
    <ol>
    <li>Intensity (Townsville to Melbourne to meet Matt-5 and
    Mulchy and phone the xth Melbourne Gathering 02/96)</li>
    </ol>
    </dd>

    <dt>ATXF Households: </dt>
    <dd>
    <ul>
    <li><p>/Matt and Waz.</p></li>
    <li><p>$teve and Annette? (ok, so they haven't <b>technically</b> moved in yet but...)</p></li>
    <li><p>Rohan and Vanessa? (he's a member of MelbXF, but he met Van first, so does he count?)</p></li>
    <li><p>The Inside of Neo's head?</p></li>
    </ul>

    <dt>ATXF babies</dt>
    <dd>
    <ul>
    <li><p>Hannah Paige Graus. Born 20th July, 1996.</p></li>
    <li><p>Hannah Louise Irwin (FoxCub)  Born 6th February, 1998</p></li>
    <li><p>NB:  What ever happened to Baby Rosey?</p></li>
    <li><p>NB: NB: I saw Principal Skinner and Mrs Krabbapple making babies in the closest and one of the babies looked at me.</p></li>
    </ul>

    <dt>Longest threaddt>
    <dd>
    <p>Sigh. I'm afraid to say it, but I think this goes to the
    &quot;QUOTEWAR: QUOTE WAR&quot; thread. </p>
    <p>&nbsp;</p>
    </dd>

    <dt>Oldest regular: </dt>
    <dd>
    <p>neither Trevor Calder <b>or</b> Steve Turtle<br> However much they may argue about it.
    <p> Its Christopher Stuart (chevron)!!!! </p>
    </dd>


    <dt>Youngest regular: </dt>
    <dd>
    <p>Julian Fleetwood, 16 as of 1998</p>
    </dd>

    <dt>ATXFers to meet Gillian Anderson: </dt>
    <dd> <p>Annette Fraser (June 29th at Westfield, Miranda) </p></dd>
    <dd> <p>then Marcus (June 29th at Westfield, Miranda) </p></dd>
    <dd> <p>then quokka (June 29th at Westfield, Miranda) </p></dd>

    <dt>Shortest regular of ATXF: </dt>
    <dd>
    <p>Holly Alexander (hh) </p>
    <p>NB: Should I bother finding this out?</p>
    </dd>

    <dt>Tallest regular of ATXF: </dt>
    <dd>>Carlton Marks (6' 4.5&quot;)</dd>

    <dt>ATXFers who have been mentioned in the press for X-Files related activities: </dt>
    <dd><p>Brian Poleykett (X Rate web site - Rolling Stone annual, 1995) </p>
    <p>This is now known as GEOS btw</p>
    <p>NB: Link this up baby!</p>
    </dd>

    <dd>The incorrect URL for Steve Leahy's web site (for the X-Files drinking game - Independent Monthly, December 1995) </dd>
    <dd>Aubry Thonon (Neoculture) - "What's On" liftout from The Courier Mail, 29/1/98</dd>
    <dd>Matt-5 for articles about Southpark (and XF IIRC)</dd>


    <p>Also need people to start posting again.</p>
    <p>So I'll update this during an exceptionally cold winter in Hell.</i></p>
    <p>Or a nice summer day in Melbourne.</p>
    <p>Which I did.</i></p>
    <p>Note: Some of these people may not be classified as regulars anymore. Its not my call, so you choose!</p>
