extends layout

block content
  article
    <p>&quot;What the FAQ&quot; I hear you say.</p>
    <p>&quot;What is all this madness?&quot; I hear you exclaim.</p>
    <p>Although my first instinct is to say &quot;FAQ off&quot;, I won't. I was a clueless newbie once too.</p>
    
    <p>Antti runs/ran a FAQsite. But this hasn't been updated in over a year. So I will start reclaiming the territory, unless someone claims it first. (Oh Dear. Damn. Woe is me. &lt;/sarcasm&gt;)</p>
    <p><a href="http://www.spirit.net.au/%7Exixax/atxf/faqs.html">Antti's ATXF FAQs</a></p>

    <p>This includes the outdated...</p>
    <p>The ATXF mini-FAQ,<br>
    The mirage that is Ken's Rough Guide to the X-Files. (currently not available)<br>
    Newsreaders for ATXF - Deja News filters to read ATXF as well as a short list of some freebie newsreaders for most platforms. </p>

      
    <p>The <a href="faq__atxf_faq.html">ATXF FAQ</a>, everything you ever wanted to know about ATXF. This is shiny new version, rewritten by Molokov</p> 
    <p><a href="faq__hardy_perennials.html">ATXF Hardy Perrenials</a>. Ken's other FAQ. A list of the more Frequently asked questions. </p>
    <p>The <a href="faq__anti_faq.html">Anti-FAQ</a>, written by $teve. </p>
    <p>$teve has also written a<a href="faq__spoiler_policy.html"> spoiler policy</a>. Also available with a <a href="faq__spoiler_faq_us_edition.html">US header</a>!</p>
      
    <p>Robin has created with the help of Ken, <a href="faq__xreport_faq.html">the Xreport FAQ</a></p>
    <p>Robin has also  re-written the <a href="faq__write_an_x-report.html">how to write an X-report </a>guide.</p>
    <p>Leith has written the brief <a href="faq__irc.html">#atxf irc FAQ</a></p>
    <p>The administrator of this site will go through <b>*every*</b> post in ATXF to find and update all the FAQs, so tell him to hurry the FAQ up if you want.</p>
      
    <p>note: Bad puns, courtesy of the $tevelink[tm][c][r]</p>