<h1>aus.tv.x-files IRC night</h1>
<h2>by Leith Webb</h2>
<h2>Thu, 18 Jun 1998</h2>
  
  #atxf is an IRC channel created to discuss REL in 'real time'. Well spank me
  silly, who would've guessed that it wouldn't turn out that way? Still, we have
  many laughs and will talk REL occasionally. Anyone is welcome to join in this
  night of chaos and fun.
  <p>
  
  Date: every Thursday, 9pm EST (there's Wednesday too, but it's not that great).<br>
  Network: IRCNet<br>
  Channel: #atxf<br>
  <p>
  And in an effort to protect young, innocent eyes from reading what the more
  kinky and perverted people of #atxf (ie. Seemi and I) type, #atxf_hottub will be
  open too. #atxf_hottub is rated MA; restrictions apply to persons under the age
  of 15.
  <p>