extends layout

block content
  article

  <h1>The aus.tv.x-files</h1>
  <h1>Frequently Asked Questions List</h1>
    
  <h2>by Danny</h2
  <h2>Fri, 26 Jun 1998</h2>
    
  <p>THE AUS.TV.X-FILES FREQUENTLY ASKED QUESTIONS LIST<br>
  <p>==================================================
  <p>Compiled by: Danny (Danny at Scoutnet.net.au)<br>
  With Bits stolen from: Steve Leahy, $teve2.
  <p>Last Updated: 13th June 1998
  <p>SEE ALSO:<br>
  Anti-FAQ - $teve2<br>
  Assimilation to ATXF - $teve2<br>
  ATXF Spoiler Policy - $teve2<br>
  ATXF Hardy Perennials - Ken Finlayson<br>
  Welcome to ATXF! - Danny
  <p>Changes since last Update:<br>
  Total rewrite of Steve Leahy's FAQ.
  <p>=============<br>
  THE QUESTIONS
  <p>1. What is aus.tv.x-files?<br>
  2. What is The X-Files?<br>
  3. What do the REL, ADMIN, TAN etc tags mean?<br>
  4. What can I post?<br>
  5. What can't I post?<br>
  6. What is the X-Report?<br>
  7. What is a Mutatothread / Quotewar / Flamewar?<br>
  8. When do the atxf people meet on IRC?<br>
  9. What are Gatherings?<br>
  10. Where can I find out more about atxf on the Web?<br>
  11. What do you mean, MORE FAQs?
  <p>=============<br>
  THE ANSWERS
  <p>1. What is aus.tv.x-files?
  <p>The straight answer:<br>
  Aus.tv.x-files (hereinafter referred to as atxf or ATXF) is the Australian
  Newsgroup
  for discussing Chris Carter's TV Show, &quot;The X-Files&quot;.
  <p>The short answer:<br>
  Chaos on a stick
  <p>The real answer:  A Newsgroup is a Community. ATXF is also therefore a community. And ours is a  strange one, but we hope you like it. The main reason we're all here is because  we are fans of The X-Files, but we don't necessarily always talk about it.  We have our resident God, $teve2, And a Young Greek God, ChrisH, a resident  Atheist, Rachael, and various other personas including the somewhat addicted  Robin Harrison. There's even our very own EBE who drops us a line from his UFO  Occasionally. You'll get to meet all of these characters, and despite appearances,	we're all human beings (except possible $teve, who may be an AI) and thus are  quite capable of reasonable discussion. Then again, the occasions when silliness  also arises are fairly common. Just join in and have fun :)
  <p>2. What is The X-Files?
  <p>  Where have you been for the last 5 years?????  &quot;The X-Files&quot; is a US Television Show, created by Chris Carter, and starring	David Duchovny and Gillian Anderson as FBI Agents Fox Mulder and Dana Scully,  who investigate paranormal or unsolved cases. In Australia, it airs on Channel 10  and affiliates on Wednesdays at 8.30pm.  We're currently near the end of the 5th Season.  For more about the show see the Official X-Files Website,
  <a href="http://www.theX-files.com">http://www.TheX-Files.com</a>  or go to your local bookshop and buy anything with
  an &quot;X&quot; on the cover. You're bound  to find something out that way...
  <p>3. What do the REL, ADMIN, TAN etc tags mean?
  <p>   In the days when atxf was a high volume group, Tags were introduced to help those that didn't want to read posts with a topic irrelevant to The X-Files. Although the volume has decreased somewhat, we still think it's a good idea to tag all
  posts.
  <p>The tags are:
  <p>  REL:	Meaning Relevant or Related - to The X-Files.  <br>
  | MERCH: Merchandise - and Magazine, Book, Hat, T-shirt calendar etc, which is related to the X-Files  <br>
  | ADMIN: Posts concerned with the &quot;running&quot; of the group. FAQs, Reports, IRC, Statistics etc.  <br>
  | TAN: Posts with a Tangential subject - that is, not related to the X-Files.  <br>
  | SUNBURN: More than TAN.  <br>
  | X-REPORT: See
  Question 6.
  <p>   Other tags are used, but these are the most common. Please tag your posts
  appropriately.
  <p>4 What can I post?
  <p>   Almost Anything! If you have anything to say, even if it's &quot;Hi, I'm new here!&quot; then please do so. However, we do have certain things we *don't* like here. See below for more on that. Otherwise, join in, tag your posts correctly, start your own threads, and play nice :)
  <p>5. What can't I post?
  <p>   There are a few things that get on everyone's nerves in atxf. If you avoid posting these, then you'll fit in fine. Things not to post are:
  <ul>
  <li> Spoilers: Please see the ATXF Spoiler Policy</li>
  <li> Bitching about the fact that no-one posts about the X-Files.</li>
  <li> Personal Attacks.</li>
  <li><i> For the above two, please see the Assimilation FAQ</i></li>
  <li>  SPAM: It will occur, but please ignore it, and don't be a spammer yourself.<br>
  However, it is permissible to &quot;advertise&quot; X-Files related stuff for sale,
  but please  use the &quot;FS&quot; (For Sale) or &quot;MERCH&quot; tags, and avoid crossposting.</li>
  </ul>
  <p>6. What is the X-Report?
  <p>  The X-Report is an irregular (usually, but not always, fortnightly) satirical awards ceremony, conducted  by a volunteer from the ATXF community, in which contributors to aus.tv.x-files are given awards  for various messages they've posted to ATXF. The award categories change from report to report.  If you'd like to do a report, email Ken Finlayson (kaf03@uow.edu.au) with a date. Watch for	the &quot;ADMIN: X-Report Schedule&quot; posts, and if you find a post which you think is worthy of recognition  for its relevance, irreverence, or humour, then Nominate it for an award by forwarding the post to the current award writer. You can find hints on how to write an X-Report at the ATXF Web Page  (See Question 10).
  <p>7. What is a Mutatothread / Quotewar / Flamewar?
  <p>   Mutatothread : A rhyming/pattern matching competition whereby an original word, phrase or name is &quot;mutated&quot; to form different meanings, normally humorous, often topical.
  <p>  Quotewar : A word association game using song lyrics as combatants attempt to  out quote each other by running their opponents out of quotes. Carmageddon with  words.
  <p>   Flamewar: One to many to one communication with the fire, rather than the smoke signals.  These fights range from the personal to the theoretical and they get nasty. They're supposed to get nasty. It's an annual blood letting between the regulars to clear the air, and to settle old scores.
  <p>8. When do the atxf people meet on IRC?
  <p>  Yes, that's right, atxf have regular IRC sessions for us to talk in real time.  The details are:  WHEN: Thursdays, from 8.30pm EST  OR Wednesdays, after The X-Files  WHERE: Channel #atxf, IRCNet  SERVERS: Try flute.telstra.net.au, yoyo.cc.monash.edu.au, or irc.usyd.edu.au, port 6667
  <p>   We hardly ever talk REL, but if you want to just come in and voice your comment or question and someone might answer it. &quot;Wednesdays are usually more REL than Thursdays&quot; - Danny (aka Molokov).
  <p>9 What are Gatherings?
  <p>  Gatherings are what we call face-to-face meetings of people who usually only have  contact online. There have been many ATXF Gatherings in cities all over Australia,  and many have made the effort to travel to get to them.
  <p>   For the first time, it's been decided to hold a National Gathering, so that<br> *ALL* atxf regulars can meet. It's going to be held in December 1998, in Sydney.<br> The organisers are Robin Harrison, Pamela Lee (Quokka) and $teve2. For more<br> info, see http://yoyo.cc.monash.edu.au/~merlinc/atxf
  <p>10. Where can I find out more about atxf on the Web?
  <p>   The ATXF Web Page, maintained by Robin Harrison, is the main resource of information since Steve Leahy's site closed. It contains past X-Reports and Records of the Awards, as well as links to most ATXFer's Web Pages. http://www.geocities.com/TelevisionCity/Studio/1123/
  <p>  Antti's FAQ page may be a bit out of date, but it still has relevant stuff in the majority  of the FAQs. Find it at: http://www.spirit.net.au/~xixax/atxf/index.html
  <p>   ~teve Turtle keeps track of who posts what, and creates statistics each month. He also keeps a database of ATXF Birthdays. http://jump.to/atxfstats
  <p>   Stuff for the National Gathering: http://yoyo.cc.monash.edu.au/~merlinc/atxf/
  <p>11. What do you mean, MORE FAQs?
  <p>   Yes, that's right - this isn't the only FAQ that atxf has.
  <p>   $teve takes an different view in educating newbies in his ANTI-FAQ.
  <p>   He has also has created the ATXF Spoiler Policy, which is posted regularly.
  <p>   Ken Finlayson maintains ATXF Hardy Perennials, a list of the more common types of posts that may need explaining.
  <p>   I've written a &quot;Welcome to ATXF&quot; FAQ which may or may not be posted regularly, it may need a little revising.
  <p>   Other FAQs exist, such as Antti's Mini-FAQ, and Ken's long-lost Rough Guide to ATXF, but they seem to be dead, or at least dormant.
  <p>   You can find these or links to them on the ATXF Web Page, and Antti's FAQ Page, URLs are in Question 10.
  <p>   Otherwise, please email the author/maintainer of the FAQs for a copy if you can't find one anywhere.
  <p>12. Why wasn't there a Question 12 listed above?
  <p>   Well I only just thought of putting it here. It's basically
  a good way for me to sneak in a conclusion to the FAQ and to
  make it look like an answer to a question.
  <p>   Enjoy posting to ATXF, we look forward to your contribution!
  <p>