extends layout

block content
  article

  <h1>ATXF Hardy Perennials</h1>

  <h2>By Kenneth Alexander Finlayson</h2>
  <h2>25 May 98</h2>

  <center>
  ATXF HARDY PERENNIALS

    badly pruned by
     Ken Finlayson
  </center>
  <p>

  I like the X Files!
  <p>

  Yes. So do we. Next.
  <p>&nbsp;<p>

  The X Files is stupid and those who watch it are gullible old goats.
  <p>

  This is called a troll. It is a deliberate attempt to provoke a fight.
  Please ignore it. Don't post, don't e-mail. More than likely it's a
  someone abusing another's Internet account. Please ignore it.
  <p>&nbsp;<p>

  test
  <p>

  I believe there are things called test newsgroups. Please try those.
  There is no surer way to generate a small number of stupid responses,
  which causes people to say:
  <p>&nbsp;<p>

  This newsgroup is full of rubbish and has nothing to do with the X Files.
  <p>

  Not completely true. Yes, there *are* a lot of posts which have little
  to do with the X Files. On the other hand, they tend to be very clearly
  marked as such: they have TAN or SUNBURN in their headers. So it's
  easy to ignore them (or get your browser to).
  <p>

  There are also a lot of posts dealing with the X Files. Read those, add
  to them, and be happy.
  <p>

  See also:
  <p>&nbsp;<p>

  This newsgroup is dominated by frivolous postings. It should be split into
  two newsgroups: one for discussion of the X Files, and one for the social
  discussion which currently predominates.
  <p>

  Who can say 'non sequitur'?
  <p>

  Isn't it more sensible to reform the existing newsgroup rather than
  simply shunt the problem elsewhere? (Well, I certainly think so).
  So here's what you can do:
  <p>

  Start by complaining about the problem. How else can we know
  something's wrong? If it seems to be certain people who are the
  cause, mention their names. E-mail them and ask them to stop posting
  irrelevant material.
  <p>

  Then start posting relevant material yourself. Set an example. Here's
  some suggestions:
  <p>

  * reviews or announcements of tie-in merchandise: books, calendars,
  diaries, mugs.
  <br>
  * episode critiques: probably the richest source of posting material.
  Report on technical errors, plot analysis, the real details of the
  phenomena featured in this week's episode.
  <br>
  * speculation on the nature of The Conspiracy: Is there one secret
  government or two? What does the SRSG want from Mulder?
  <br>
  * speculation on the role of the principle characters: Why is Mulder
  so important? Why was Scully abducted?
  <br>
  * the nature of Mulder and Scully's relationship: In love? Or just
  good friends? (Warning: this one's a volatile issue)
  <br>
  * the role of the X-Files in modern culture: Are we all getting more
  paranoid? Does the X-Files represent a new mythology?
  <p>&nbsp;<p>

  The Internet is an evil place where children -- when they're not learning
  how to make bombs -- are being exposed to pornography!
  <p>

  Ray? Is that you?
  <p>&nbsp;<p>

  I still can't get over the fact that Mulder shot Skinner in "Zugzwang"
  (Season 6, Episode 1). What do other people think about it?
  <p>

  Ahem. This is called a spoiler. Don't use 'em. The official spoiler
  policy is that episodes that have not yet screened in Australia are
  not to be mentioned without sufficient warning.
  <p>

  If you must post a spoiler, here is the proper etiquette:
  <p>

  Do not put a spoiler in the header.
  <p>

  WRONG ---> Subject: Mulder kills Skinner
  <br>
  RIGHT ---> Subject: Mulder's actions in Zugzwang (SPOILERS)
  <p>

  The first line of your post should say something along the lines of
  "This post contains spoilers about Zugzwang. Read at your own risk!"
  <p>

  This should be followed by copious blank space (say, twenty blank
  lines).
  <p>

  If you follow up to a post which breaches these rules, please edit
  the spoiler out, or add the word SPOILER to the post's header. If
  the header contains any spoilers, edit it to be spoiler-free.
  <p>&nbsp;<p>

  BUNC? MMBH? Does anyone understand what this duck is saying?
  <p>

  BUNC - Blonde UN Chick
  <br>
  MMBH - Mighty Morphin Bounty Hunter
  <br>    
  If you'd like to know what REL, TAN, and the other acronyms used in
  headers, I direct you to the mini-FAQ, maintained by Antti Roppola.
  <p>

  (By the way, congratulations on the "Who Killed Roger Rabbit?"
  reference. You're the sort of person who'd fit in here just fine.)
  <p>&nbsp;<p>

  IMHO AFAIK U PPL R ALL LAM3RZ
  <p>

  On the other hand you could try English.
  <p>&nbsp;<p>

  Where can I find X Files episode titles? Everyone on the newsgroup seems
  to know what they are, but I can't find them anywhere!
  <p>

  Episode titles don't appear during the show.
  <p>

  I'd reccommend Brian Polykett's excellent Australian web site
  which has a wealth of information about the X Files, Millennium,
  Star Trek, et al.
  <p>

  Specifically, try the following two links for XF material:
  <p>

  broadcast dates  http://www.swd.net.au/geos/schedule.html
  <br>
  episode index    http://www.swd.net.au/cgi-bin/geos/episodes.cgi/index/txf
  <p>

  Alternately you might try Fox's official X Files site:
  <p>

  http://www.thex-files.com/episode.htm
  <p>

  This week's (13/5/98) episode is "Bad Blood".
  <p>&nbsp;<p>

  You're a bunch of elitist facists, forcing all these rules onto everyone!
  Usenet is a natural anarchy and shouldn't have to put up with aberrations
  like you! Your tin-pot dictatorship won't last out against the People's
  Revolution that is the Information Superhighway! (etc. etc.)
  <p>

  No, you're right. You don't have to follow the local variety of
  netiquette. After all, it's only common courtesy and there's no reason
  anyone should feel bound to follow that. Please, step this way for the
  complimentary acetone injection we offer all visionaries such as
  yourself.
  <p>&nbsp;<p>

  have all eps & dd ga interviews missing email me
  <p>

  Oh go away.
  <p>&nbsp;<p>