<h1>>The X-report FAQ</h1>

<h2>Robin Harrison and Kenneth Alexander Finlayson</h2>
<h2>Sat, 04 Jul 1998</h2>

This FAQ includes information previously published in  Ken's X Report Schedule list.
<p>

Q: What is the X report?
<p>

A: The X Report is a weekly (ish) celebration of the best and
worst of aus.tv.x-files. It is usually some sort of story, 
especially written for the occasion. This story may be a parody
 of a movie, or an episode of the Xfiles, or even just an awards
 ceremony! Imagination is the only limitation.
<p>

In it, there is an awards ceremony in which contributors to the newsgroup 
are recognised for their efforts. It is basically atxf's own private version 
of alt.best-of-usenet.
<p>

Q: How do I get to write an X report?
<p>

A: If you would like to write an X Report (and remember, anybody can)
then e-mail me at kaf03@uow.edu.au requesting a date.
<p>

The Awards Ceremony
<p>

Q: What is an X-report award?
<p>

A: An x-report award is an aknowledgement of a post that is memorable, and 
deserving of recognition. They don't have to be serious, or funny. 
<p>

Past traditional award titles include:

<ul>
 <li>"RELevancy will be Awarded"</i>  for relevant posts
 <li>"J.J. Memorial Scully's Tits"</i> for lusting with respect to Gillian Anderson
 <li>"Kirty Weatherhog Golden !"</i> for excessive use of !!!! marks.
 <li>"Spelunker' Award"</i> for plotholing
 <li>"Delurking Newbie"</i> for the best post of a newcomer
 <li>"Vanessa Memorial Rant"</i> for *big* ranting on any topic
 <li>"Even Frohike doesn't like me"</i> for something. I'm not sure.
</ul>
<p>


Q: How do I nominate a post for one of the many X-report awards that occur?
<p>

A: Simple. Well, at least it used to be. Far back in the mists of time, the
X-report Keeper set up a dedicated email-forwarder for the X-reports. Sadly,
he is no more, having succommed to "Real Life Intrusion Syndrome". So now
the way to nominate is to email the person writing the report.
<p>

Q: Gah?
<p>

A: Ok. Read the posts in ATXF. If one is particulary good, relevant, funny,
touching, amusing, self deprecating then email that article to the writer.
Note, some, not all of the above cateogries peoples! Though if you find one
that matches all of them, nominate it anyway!
<p>

Q: Bah?
<p>

A: Sigh. Were's the Anti-FaQ when I need it? Anyway, the Keeper of the Lists
of Xreport Writers-To-Be, Ken, does not currently include the email address
of the writer-to-be. But he will from now on I assume. [editors note: change
this once he does this].
<p>

Q: So what do I have to include with the email?
<p>

A: When nominating a post for an award, please include a copy of
the post in question, with full headers if possible. Suggested
titles for awards, while unnecessary, are always appreciated.
<p>