<h1>Spoiler FAQ US Edition</h1>
  
<h2>$teve2</h2
<h2>Wed, 17 Jun 1998</h2
  
  HELLLLLLLLLLLLOOOOOOOOO AMERICA!!!!
  <p>
  
  
  It's the Australian Ambassador to ATXF speaking again.  You may remember
  me from SPOILER FAQ posts, and last year's frivolity fun pack
  MUTATOTHREAD.
  <p>
  
  In the interests of international harmony, and to prove that Americans
  are nice people, I'm giving y'all a copy of the Spoiler FAQ so that you
  don't go and do anything embarassing if you feel inspired to post to
  ATXF.
  <p>
  
  This week, ALL SOULS was aired on Free to air.  This means that we still
  have 3 episodes until "The End" is screen.  
  <p>
  
  The movie is released in Australia on JULY 23.  That's quite some time
  away.  Please don't spoil the movie for us.
  <p>
  
  If you must post spoilers to AUS.TV.X-FILES, here's the spoiler policy
  document so you know how to do it in the most humane way.
  <p>
  
  [insert spoiler faq]
  
  <p>
  
  $teve2
  <br>
  ATXF Spoiler Hunter