<h1>The Spoiler FAQ.</h1>
  
<h2>by $teve2</h2>
<h2>Wed, 17 Jun 1998</h2>
  
  Sorry I'm late.
  <p>
  It's been a rough week
  <p>
  
  Score Remaining...
  <br>
  July 23: Fight the Future opens
  <br>
  July 8 : The End screens on Free To Air.
  <p>
  
  Note:<br>
  ++++++++<br>
  [1] There has been a change to the spoiler formatting.  For the safety
  of those who read the newsgroups without benefit of seeing the headers
  first, the 25 line spoiler space AND the Header tags are now required.<br>
  +++++++++<br>
  
  Here is the FAQ. Read and obey.
  <p>
  
  This document is based on the incredibly detailed work of Lady Alys and
  Phil in their aus.sf.babylon5 Spoiler Policy
  (http://www.geocities.com/Area51/Dimension/9109/spoilers.htm)
  <p>
  
  This FAQ will also be posted in ALT.TV.X-Files
  <p>
  
     Introduction
  <p>
  This document was created in an attempt to minimise, and hopefully
  eliminate, inadvertent spoiling and consequent flaming. If the
  guidelines herein are followed, this should be possible. The guidelines
  themselves should be considered as an extension to netiquette, specific
  to this newsgroup. They are not intended to control or restrict the
  content of posts, but to ensure that people are given the opportunity to
  avoid learning information before it has been revealed on air. 
  <p>
  
  We are trying to cater for people who want no advance information,
  without inconveniencing people who either don't care or do actively want
  advance information. Our approach centres on subject lines which
  indicate to all readers whether or not the reader should read the
  article. So, if a subject says "SPOILERS for x", people who want to know
  nothing about x don't read the article, people who don't care about x
  read the article if x sounds interesting, and people who actively want
  to know about x can read the article and hope they learn something. 
  <p>
  
  Thus, there is nothing wrong with posting spoilers, provided those
  spoilers are adequately protected. 
  <p>
  
  
  [1]   Policy Summary
  <p>
  
  All posts containing spoilers MUST include spoiler protection. 
  Include
  <ul>
   <li>in the subject: include "SPOILERS" in the subject line. Ensure the
  subject itself is not a spoiler and
   <li>in the article: if the article contains nonspoiling discussion, then
  below that and above the spoiler, write "SPOILERS for [] follow:"
  followed by 25 lines (preferably not blank lines) 
  </ul>
  
  A spoiler is: 
  <ul>
   <li>ANY information about episodes not screened throughout all of
  Australia, regardless of the source and no matter how minor 
   <li>Hints about future episodes, no matter how vague 
   <li>Spoilers that have previously been posted in either ATXF (australian
  or american)
   <li>Questions about future episodes that are written in a way that spoils 
   <li>Quotes from future episodes (eg, in a sig) 
   <li>Information about actors joining/leaving the show, or about
  actors/characters appearing, or not appearing, in particular episodes 
   <li>Confirmation/refutation (using knowledge from unaired episodes) of
  theories 
  </ul>
  
  A spoiler is not: 
  <ul>
   <li>Speculation based purely on information from episodes which have aired
  throughout ALL of Australia. Speculation is actively encouraged. 
   <li>Information revealed in the episode most recently screened throughout
  all of Australia 
  </ul>
     Policy Proper
  <p>
  
   A spoiler is ANY information in a post which may reduce the impact of
  the (unaired) episode it concerns. This can include material from the
  articles, websites, interviews and things that cast crew and writers of
  the Xfiles have written or said. Spoilers in this newsgroup must be
  protected. There are several other newsgroups in which spoiling material
  can be discussed without protection, especially alt.tv.x-files. 
  <p>
  Episodes which have aired throughout Australia need no spoiler
  protection. 
  <p>
  
  Refer to the GEOS   <http://www.swd.net.au/geos/survey/index.html> for
  more details as to which episodes have been aired.
  <p>
  
  
  Spoiler protection is achieved through considerate article subject
  lines. Here are some guidelines for both subjects and articles: 
  <p>
  
  1. If the episode/s concerned has/have been shown throughout Australia,
  no protection is required. Simply include the name of the (latest)
  episode in the subject. Do not use the word "spoilers", since there are
  no spoilers in this case; the episode name is sufficient. 
  <p>
  
  2. If it has not been, include in the subject the words "SPOILERS for"
  and an indication of the episode/season spoiled. Do not use the word
  "spoilers" without elaboration. **Err on the side of caution. DO NOT
  include any spoiling information in the subject! **
  <p>
  
  3. When spoilers are included in a post, try to discuss nonspoiling
  issues first. After these, include a line which says "Spoilers for []
  follow:", followed by 25 lines (preferably not blank lines). Then you
  may discuss spoiling issues freely. If you later add information from an
  episode after that given in the previous spoiler warning, add a new
  warning. You might consider separate posts, one without spoilers and one
  or more with (eg. SPOILERS for next ep, SPOILERS for s3, SPOILERS for
  s4). 
  <p>
  
  4. When following up a post, ensure the subject still accurately
  reflects the content of your post. If the previous post contained
  spoilers but yours does not (due to snippage, for example), remove the
  spoiler warning from the subject. If the previous post did not contain
  spoilers but yours does, add a spoiler warning. 
  <p>
  
  5. Don't use quotes from future episodes in your sig. They can give away
  plot points or reduce the impact of funny lines. 
  <p>
  
  6. If it is brought to your attention that you have posted an
  unprotected spoiler, cancel it immediately. Since many news servers
  receive articles days after they are posted, cancellation is of genuine
  benefit. 
  <p>
  
  Cancelling your articles: 
  <br>
  Agent: Post / Cancel Usenet Message
  <br>
  For FreeAgent 1.0 it's Article/Cancel Article.
  <br>
  Forte FreeAgent: select your article, then Message/Cancel Usenet Message 
  <br>
  Netscape:   select your article, then Edit/Cancel message 
  <br>
  nn: select your article, then (C)ancel 
  <p>
  
  In general, the subject should (in a non-spoiling fashion) always
  indicate the content of the article.
  <p>
  
  Play fair and play nice people
  <p>
  
  
  $teve2
  ATXF FAQ Controller