extends layout

block content
  article
  
  <h1>ANTI-FAQ '98:</h1>
  <h2>The Mother of all FAQS</h2>

  <p>By $teve2</p>
  <p>Sun, 31 May 1998</p>
  
  <p>Newbie: Six months. No $teve. I think I'll relax for a...<br>
    $teve2: Hello Daftness my old friend<br>
    Newbie: YELP!!<br>
    $teve2: Miss me?<br>
    Newbie: My hands were shaking too hard to aim properly<br>
    $teve2: Amateur.<br>
    Newbie: I heard you were dead<br>
    $teve2: I was.<br>
    Newbie: What happened?<br>
    $teve2: I got better. Not good. Not nice. Just better.<br>
    Newbie: I'm going to get hurt now aren't I?<br>
    $teve2: Not if you pay attention first time. Now, any questions?
  <p>Q.1. What's the worst thing I could post here?
  <p>A.1. The very worst thing you can post is a whiny little self righteous 
    bitch about how nobody posts stuff about the X-files here.  Now, I've 
    said this every time ANTI-FAQ appears, so I'm going to repeat it 
    carefully, and slowly so maybe everyone can understand
  <p>POSTS COMPLAINING ABOUT THE LACK OF X-FILES POSTS ARE **NOT** POSTS 
    ABOUT THE X-FILES.
  <p>You want signal? Generate it yourself.
  <p>Q.2. How come my opinions don't carry any weight?
  <p>A.2. Because you're a newbie.  Seriously, your opinions *DO* carry 
    weight when you post here.  It's just that like any place else, you have 
    to earn your reputation in this community.  To do that, all you need to 
    do is get involved, stay active and make a name for yourself.  Heck, 
    even I was newbie once.  Now look what I am.
  <p>Newbie: What are you?<br>
    $teve2: More a warning than an example.  Next question
  <p>Q.3. Poster B said something I didn't like.  I want their account 
    cancelled
  <p>A.3. So, you're stupid as well as ugly.  Welcome to the USENET, a system 
    of small communities with attitude.  Sometimes, in the course of day to 
    day life, people say things we don't like, don't agree with or which are 
    offensive to our values.  That's the joy of life, you get the good, you 
    get the bad.  It's your choice to concentrate on eliminating the chaff
    instead of keeping the wheat.  People say stuff you don't like, don't
    worry.  If somebody starts getting really nasty toward you on ATXF, SAY
    SOMETHING ON ATXF.  Call for help.  We're a community, and if a barroom
    brawl breaks out, the sheriff is no more than a post for help away.  
  <p>Newbie: But they said bad things about me and wouldn't answer my
    questions properly. I want their account cancelled.
  <p>$teve2: So, if someone in real life doesn't agree with you, or says
    something you don't like, we should burn their house down right? 
  <p>Newbie: No, but...
  <p>$teve2: Maybe we should just have them fired from their job, and then
    forced to move towns?
  <p>Newbie: No, but...
  <p>$teve2: Better yet, let's just kill them for not agreeing with us.
  <p>Newbie: Um, that's very extreme.
  <p>$teve2: Yes, and so is demanding the cancellation of somebody's e-mail
    account.  There are rules governing account usage in most ISPs or
    University, and these rules don't include &quot;BE NICE AND AGREE WITH
    EVERYONE&quot;. They cover acts of electronic aggression, mass spamming, mail
    bombing and similar because those are anti-social actions. Demanding the
    cancellation of someone's account is a last line of resort, not a
    preemptive strike.
  <p>Q.4 Is there anything else that earns the wrath of the locals?
  <p>A.4. Yes actually.  There's the inappropriate delurk by a newbie. Now
    let me explain this carefully, the Delurking Post is the Newbie's most
    valuable method of introducing themselves.  Consider your first
    statement carefully. Do not open your account at the Hotel ATXF with the
    following remarks.
  <p>  - Get a Life (Look who's talking)<br>
      - Take all this crap to e-mail (Fuck off. And that's the polite
    response you'll get from me)<br>
      - Why doesn't anybody like me? (Cut your losses newbie, kill yourself)<br>
      - I've got a lovely bunch of videos I watched and oh look, here's the<br>
    distributors contact details. (And I've got a bridge to sell you...)<br>
      - Scully and Mulder do the lambada in Episode 6.XX (Thank you for
    destroying the suspense. Now, here's the ending to that movie you wanted
    to watch.)<br>
      - I don't like the way you run this newsgroup so stop it and do things
    my way. (Thanks, but no thanks.)<br>
      - There's a secret cabal preventing newbies from joining (if there is,
    how did you get in?)<br>
      - I have a very rare piece of merchandise for sale (I have your wife
    and kids. Would you like to negotiate a trade?)<br>
      - MAKE MONEY FAST (GET SPAMMED QUICK)<br>
      - test (Failed.  Terminate yourself immediately)<br>
      - X-files sux (Oh the wit and the grandeur. Get off the computer, get
    an education and then try again)
  <p>Q.5. Don't all these rules make the group very elitist?
  <p>A.5. Hell yeah.  That's a good thing as well.   You see, ATXF is a lot
    like a community sports team, or a pub like Cheers.  A place where
    people know you, like you, hate you and recognise you.  Consequently,
    Newbie, if I were to walk into a social group in the Real World (TM) and
    demand that they stop what they're doing, pay attention to me, and do
    things my way, I can expect a sharp rebuff (or a sound clobbering). The
    USENET is just the same.  Newsgroups like ATXF have developed their own
    group values, social structures and even hierarchies of responsibility. 
    It's the nature of the group process, so why do attitude laden little
    newbies look surprised when they find that such a structure exists?
  <p>Newbie: Because they think the sun shines out of their behind?<br>
    $teve2: Newb, are you trying to start a quotewar?
  <p>Q.6. Huh? What is a QUOTEWAR?
  <p>A.6. Largely my fault.  The Quotewars are the newsgroup's equivalent of
    the Mardi Gras or a street festival.  Held over a set period of time,
    the Quotewar challenges all participants to respond to each other's
    quotes with related quotes. Primarily the quotes are from popular (and
    not so popular) songs from the 50s to the 90s. And yes, I can and will
    accept any QUOTEWAR challenge laid down (from quoting only X-files
    episodes to not quoting the Smiths)  
  <p>The quotewar, the Mutatothreads, pun fights and similar events are a
    massive waste of bandwidth in the same way that a street festival,
    parade or market place is a waste of good opportunity to drive cars on a
    street.  Things like the quotewar are part of the scenery and cultural
    experience that makes up life in ATXF.  Don't get angry, get involved. 
    Live the experience. Broaden the horizon. Who knows? Maybe one day
    you'll realise that it's fun to be open to new experiences.
  <p>Q.7. You're an arrogant bastard aren't you?
  <p>A.7. Yes. Next question.
  <p>Q.8. Ok, that hasn't hurt too much so far. Who shouldn't I annoy?
  <p>A.8. Me.  It's been a long time since I was here. I'm back, and I'm
    going to be me as I am, as I was, and as I always will be.  That means
    some of you are going to like me, hate me or fear me. Tough.  The choice
    is yours and I don't care which option you take.
  <p>Q.7. Anything else?
  <p>A 7. Yes actually, there's something else to remember if you're a newbie
  <p>	SOME THINGS YOU POST MAY HAVE BEEN DISCUSSED BEFORE
  <p>Ok? Now if you post your hard thought out and lovingly crafted treatise
    on the X-files, and somebody follows up with &quot;We already discussed
    this&quot;, it's not a &quot;Curl up and die you scurrilously unhip infidel&quot;
    message.  It's a matter of simply saying, in shorthand, that the
    discussions that may arise from your treatise may be of less volume,
    vigour and veracity than you had hoped for, and felt were truly deserved
    to have been sparked from your insightful critique.  It ain't you, it's
    the curse of repeated television.
  <p>If however, you write something new, never before discussed, about a new
    episode, and nobody replies to it there are 3 reasons<br>
      1. It's crap<br>
      2. Your news server never actually delivered the post (but how will
    you ever know....)<br>
      3. We're speechless  (unlikely, but it does happen. It doesn't happen
    overnight, but it does cause me to recite Rachel Hunter's adverts)
  <p>Newbie: Dr $teve. What would happen if I was to um, hypothetically say
    something like &quot;This isn't about the X-files. Go away and leave this
    newsgroup immediately&quot; if somebody posted something non REL.
  <p>$teve2: You'd answer to me.  The unique character flaw of the
    aus.tv.x-files newsgroup is tolerance.  That said, as a community we
    have an obligation to play by the rules, and part of those rules are
    that you WILL tag your posts.  No option. No choice. We all play by the
    rules and we all get just along fine.  This place has put up with one
    hell of a lot of stuff over the four to five years we've been around. 
    People have met, become friends, become enemies, fallen in lust, in love
    and out of love, moved states to be together and all because ATXF
    accepts that this is a place of community, not just information
    exchange.  
  <p>Newbie: But I don't want community. I want people nitpicking the
    episodes because a continuity editor didn't pay attention to whether
    Scully has three more eyebrow hairs in one scene then five more in
    another.
  <p>$teve2: If you don't want to be part of a community, then I pity the sad
    little solitary pathetic life you lead.  There are so many interesting
    things in life, so many fascinating people you can met and talk with and
    get to know if you're prepared to give a community a chance.  If you're
    not, then you've missed the whole point of being alive.
  <p>Newbie: But what if someone posts spam or crossposts spam?  Aren't we
    all supposed to followed up to cross posted spam to complain?
  <p>$teve: If it was spam, it was spam and that happens. Big deal.  If you
    can't cope with seeing an advert on a newsgroup then your sheltered
    little existence is a waste of oxygen.  Spam happens. Cope with it or
    sell your modem.  Don't follow up to spam, don't reply to a mass cross
    posted spam.  Ignore make money fast posts.  Remember, if you don't give
    them the satisfaction of recognition, then you ruin their day.
  <p>Newbie: Oh. Can I go home now?
  <p>$teve2: Sure. By the way, do me a favour.  I've got this laptop with a
    gold CD I need to have delivered. Could you carry it for me?
  <p>Newbie: Gee $teve, I'd love to do that.  Hey, what's with the map and
    crosshairs? $teve? $te....&lt;zap&gt;
  