<h1>How to write an Xreport</h1>

<h2>by Steve Leahy and Robin Harrison</h2>
<h2>Ages ago</h2>
  
  <p><b>Steve Leahy</b>'s guide to writing your very own Xreport (or equivalent). 
  </p>
  <p>It's fairly simple. Basically, you use one of the following options: </p>
  <ol type=a>
  	<li> 
  		Rip-off an existing film, a-la Xreport #4 (&quot;Monty Python and the Holy Grail&quot;), Xreport #5 (&quot;Field of Dreams&quot;), Claytons #5 (&quot;Star Trek III&quot;) and Sloth #1 (&quot;Logan's Run&quot;)
  	<li>
  		Rip-off a TV show, a-la Claytons #3 (The Clive James new-year specials) and Leith's &quot;Good Newsgroup Week&quot;
  	<li>
  		Rip-off a book, a-la Claytons #1 (&quot;Doon&quot;).
  	<li> 
  		Create a pastiche, based upon certain elements from The X-Files, a-la Xreport #2 (&quot;Dod Kalm&quot;) and Claytons #2 (UFO spotters).
  	<li>
  		Create a pastiche, based upon certain filmic or literary genres, a-la Claytons #4 (seedy detective investigating a murder, although admittedly crossed with option (f) below, resulting in something more akin to the bastard child of &quot;The Singing Detective&quot; and &quot;The Twilight Zone&quot;) and summer Edition #1 (westerns).
  	<li>
  		A &quot;generic&quot; awards ceremony, a-la Xreport #1, #3 and Sloth #2.
  	<li>
  		Don't bother with a story, just write the awards ceremony, a-la Sloth #3 and most of the reports in 1997
  </ol>
  <p>As you've no doubt become aware, it's a relatively simple task! :-)</p>
  <p>Just be sure that people have actually read, seen, heard of whatever you are steal^H^H^H being inspired by or else you'll have a stinker like the First Harrison Report.
  <p><i>Edited by <b>Robin Harrison</b> for the new web site.</i></p>