extends layout

block content
  article
    <p>&quot;If you show them, they will come&quot;</p>
    <p>Although by nature, computing people seem to be anti-social, the ATXFers had a reason to assemble: advance screenings of episodes.</p>
    <p>Soon, they were gathering for any reason whatsover</p>
    <p>This is the record of these events.
    </p>