extends layout

block content
	article
		p Ok. So here's the deal. There have been a shitload of interviews conducted. A <b>lot</b>. Nearly all of you have been interview (with one notable exception).
		p However, this means there are a lot of files to convert. For example the 1996 interviews, all together, is a 196kb file. <b>Way</b> too big.
		p So I'm cutting it up. Into small bitsize-people pieces. 
		p But there is so much, that this has a low priority, compared to the rest of the site. But it will be done. Ok?