doctype 5
html
  head
    title= title
    if('geocities' == theme)
      link(rel='stylesheet', href='/stylesheets/geocities.css')
    else
      link(rel='stylesheet', href='/stylesheets/modern.css')
  body
    include navigation
    block content
    if('geocities' != theme)
      script(src='http://code.jquery.com/jquery-2.0.3.js')
      script
        $(document).ready(function() {
          $('#site').appendTo("body")
        });