- var mainNav = [{route:'/daiquiri', title:'Have a fresh Daiquiri with a lemon twist', text: 'Daiquiri'}, {route:'/culled', title:'Separating the chaff from the chaff', text: 'Culled Stuff'}, {route:'/gatherings', title:'Not a place to lose your head', text: 'Gatherings'}, {route:'x-/reports', title:'We put the X in FBI', text: 'X-Reports'}, {route:'/interviews', title:'More like interrogations really!', text: 'Interviews'}, {route:'/web', title:'A list of the pages of regulars', text: 'Web List'}, {route:'/who', title:'The Who is Who, of ATXF', text: 'Who\'s Who'}, {route:'/faqs', title:'FAQer', text: 'FAQs'}]
- var tagNav = [{route:"/rel", title:"REL:evancy is rewarded", text:"REL"}, {route:"/tan", title:"TAN:gential discussions are frequent", text:"TAN"}, {route:"/merch", title:"MERCH:andising is a lust object", text:"MERCH"}, {route:"/admin", title:"ADMIN:istration is power", text:"ADMIN"}, {route:"/quotewar", title:"QUOTEWAR: \' \'", text:"QUOTEWAR"}]
- var chapterNav = [{route:"/brisxf", title:"BrisXF: The Brisbane Chapter", text:"BrisXF"}, {route:"/melbxf", title:"MelbXF: The Melbourne Chapter", text:"MelbXF"}, {route:"/sydxf", title:"SydXF: The Sydney (and Canberra) Chapter", text:"SydXF"}, {route:"/otherxf", title:"OtherXF: The Lost Chapters", text:"Other XF"}]
- var siteNav = [{route:"mailto:atxf@geocities.com", title:"Email the Webmaster", text:"Email Me"} ,   {route:"/new", title:"What's new under the sun?", text:"What's New?"}]


    ul#navigation
      mixin navLink(route, title, text)
        li
          a(href='#{route}', title='#{title}') #{text}
      li#home
        a(href="/main", title="Go Home", class="xLogo")
      li
        ul#main
          each nav in mainNav
            +navLink(nav.route, nav.title, nav.text)
      li
        ul#tags
          each nav in tagNav
              +navLink(nav.route, nav.title, nav.text)
      li    
        ul#chapters  
          each nav in chapterNav
              +navLink(nav.route, nav.title, nav.text)    
      li
        ul#site
          each nav in siteNav
            +navLink(nav.route, nav.title, nav.text)
