extends layout

block content
  article
  <p><font face="Georgia, Times New Roman, Times, serif">You've got to be kidding! </font></p>
  <p><font face="Georgia, Times New Roman, Times, serif">Do you know how much junk I'm going to have to go through to fill this bit up? Lots. It will be done. But what would you rather, a half-finished, site in development (but structully sound) or a site that is always &quot;coming soon&quot;, with updated info?</font></p>
  <p><font face="Georgia, Times New Roman, Times, serif">DON'T ANSWER THAT!</font></p>