extends layout

block content
  article
    <h1>ATXF web site listings</h1>

    <P>Here is the list that I have.</p>
    <p>Parts are from my bookmarks (usually the older ones), and parts are gleamed from the newsgroup and other peoples pages. If your name is not here, it just means that I a) don't know who the hell you are and/or b) you haven't posted recently and/or c) I hate you. Just kidding, I'm sure you've posted recently :). </p>
    <p>I have added names of people I recognise from the group, even if they don't have a page.</p>

    <p>If you want to be added, email me at <a href="mailto:atxf@geocities.com">atxf@geocities.com</a> with the urls of your web pages. Submit as many as you want, as long as they are at different domains/areas. Multiple Geocities addresses are in different <b>areas</b> (eg Area51/Dimension &amp; Area51/Vault)... Otherwise I will find them.</p>

    <p>Note: (  <font color="#FF33CC"><b>-X-</b></font> )  means that the page was down the last time I checked, some of these have been down for ages. YMMV.</p>


    <P><center>
    <b>-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=</b>
    </center></p>

    <h2>---* Concept Pages relating to ATXF *---</h2>

    <dl>
    <dt>The ATXF Page: Generation 2</dt>
    <dd><A HREF="http://www.geocities.com/TelevisionCity/Studio/1123/index.html">ATXF: The Home Page</A></dd>

    <dt>The Order of the Blessed St Scully the Engimatic Saviour</dt>
    <dd><A HREF="http://www.geocities.com/TelevisionCity/3433">OBSSES</A> Fandom gone mad</dd>

    <dt>ATXF Birthday Database c/o the Oracle (frequently inaccurate!)<br/>
    <dt>Now less in-accurate due to Turtle's version!</dt>
    <dd><A HREF="http://yallara.cs.rmit.edu.au/~nathanj/atxf/">ATXF Birthday Database</A>  <font color="#FF33CC"><b>-X-</b></font><br />
    <a href="http://www.ozemail.com.au/~sturtle/atxf/atxfbday.html">the NEW shiny ATXF Birthday Database</a></dd>

    <dt> ATXF Main Index c/o Steve Leahy </dt>
    <dd><A HREF="http://modjadji.anu.edu.au/steve/x-files/">ATXF Main Index</A> the ex-ATXF site </dd>

    <dt>The Bris XF Site </dt>
    <dd><A HREF="http://www.geocities.com/Area51/Cavern/3448/index.htm">Bris XF</A></dd>


    <dt> The Melb XF Site </dt>
    <dd>Soon to be linked off this site.</dd> 

    <dt> AutoAlys Web Page </dt>
    <dd><A HREF="http://www.geocities.com/Hollywood/8367/autoalys.html">AutoAlys</a><intense> Web Version Currently broken</intense> Java Version Coming Soon.</dd>

    <dt>ATXF Posting Stats </dt>
    <dd>Turtle &amp; Leahy's <A HREF="http://www.ozemail.com.au/~sturtle/atxf/atxfstat.html">The aus.tv.x-files monthly statistics reports</a></dd>

    <dt>Laura's Review Archives </dt>
    <dd><A HREF="http://traveller.simplenet.com/xfiles/episode.htm">X-Review</A> Contains REL reviews of XF episodes, and other theories by regulars of atxf</dd>

    <dt>Danny's X-files review page</dt>
    <dd><a href="http://www.scoutnet.net.au/users/Danny/xf/">when you 
    really need a pickup, Danny tastes great</a></dd>

    <dt>The ATXF FAQ Page</dt>
    <dd><a href="http://www.spirit.net.au/~xixax/atxf">Old FAQ Listings</a></dd>
    </dl>

    <P><center>-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=</center></p>

    <P>
    <h2>---* Personalities (or lack thereof) *---</h2>


    <dl>
    <dt>$2 aka $teve aka 'that git'</dt>
    <dd><A HREF="http://www.geocities.com/TelevisionCity/3433">The Order of the Blessed St Scully the Engimatic Saviour</A> </dd>
    <dd><A HREF="http://www.geocities.com/Area51/Cavern/3448/index.htm">Bris XF</A> </dd>
    <dd>Consumer Site Index...<!--http://www.geocities.com/Hollywood/Set/9121/ --> <intense> Includes ATXF: The Movie</intense> <i>Reclaimed by Geocities</i></dd>
    <dd>The $teve Deadline (the thesus page) <i><!--http://www.geocities.com/CollegePark/Library/8998/ -->Reclaimed by Geocities</i> </dd>

    <dt>Adam James Fitzpatrick</dt>
    <dd><A HREF="http://www.ug.cs.su.oz.au/~afitzpat/">under anaesthetic</a></dd>


    <dt>Alys </dt>
    <dd><A HREF="http://www.geocities.com/area51/dimension/9108">Grey 19</a> Alys has a real job so she hasn't had time to do anything on this.</dd>
    <dd>She also has a <a href="http://www.geocities.com/Area51/Dimension/9109/">B5 page (official aus.sf.babylon5 page!)</a> that was in two places at once. And is now unlinked properly</dd>

    <dt> Amber </dt>
    <dd><A HREF="http://www.geocities.com/Hollywood/5882/xfiles.html">Amber's Xfiles page</A> </dd>


    <dt> Andy Butt </dt>
    <dd>Andy's page vanished due to ISP changes.</dd>

    <dt> Andy Soetedja (-A-) </dt>
    <dd><A HREF="http://yoyo.cc.monash.edu.au/~grunge">The Magic Bus</A></dd>
    <dd><A HREF="http://yoyo.cc.monash.edu.au/groups/mils/">the Monash InLine Skate club</A></dd>

    <dt>Annette Fraser </dt>
    <dd><A HREF="http://www.geocities.com/Area51/Cavern/1972/index.html">ATXFPenguin Index</A></dd>

    <dt>Antti </dt>
    <dd><A HREF="http://www.spirit.net.au/~xixax">Antti's hompage (I was born on Xixax!)</A></dd>

    <dt>A Poor Sweet Innocent (aka Tim Quinn)<br />[no relation to Harley Q.]</dt>
    <dd><A HREF="http://www.smug.adelaide.edu.au/~trquinn/">Introvert: Homepage</A></dd>

    <dt>Aubry (aka Neoculture)</dt>
    <dd><a href="http://www.geocities.com/Tokyo/Towers/1467/">ROBOTECH: Protoculture Wars</a></dd>
    <dd><a href="http://www.geocities.com/Tokyo/Towers/4164/">ROBOTECH: Alternate Points of View</a> </p></dd>
    <dd>Dja think he likes Robotech?</dd>

    <dt>Brett Holman</dt>
    <dd><A HREF="http://astro.ph.unimelb.edu.au/~bholman/">About me, Brett Holman</A></dd>
    <dd><A HREF="http://www.geocities.com/Area51/3763/">About me, Brett Holman (on geocities)</A><br /> (this never gets updated!)</dd>

    <dt>Creepy</dt>
    <dd><A HREF="http://www.lennox.com.au/creepy/brisgnw.htm">Creepy's GNW post party pics</a></dd>


    <dt>Chris Hadgis</dt>

    <dt>Daniel Frankham </dt>
    <dd><A HREF="http://www.geocities.com/SoHo/Gallery/3906/">The Web Site of Daniel Frankham </a></dd>

    <dt>Danny </dt>
    <dd><A HREF="http://www.scoutnet.net.au/users/Danny">HTTP.WWW.NET</A></dd>
    <dd><a href="http://www.ThePentagon.com/Molokov">Enter the Pentagon.</a> [REP]</dd>
    <dd><A HREF="http://www.scoutnet.net.au/users/Danny">HTTP.WWW.NET</A> </dd>
    <dd><a href="http://www.geocities.com/Pentagon/Bunker/1914/">Molokov 's Sound File List</a> [REP]</dd>

    <dt>Dregs </dt>
    <dd><A HREF="http://www.bf.rmit.edu.au/~dyates/">Dregs</A></dd>

    <dt>EBE </dt>
    <dd><A HREF="http://members.tripod.com/~MattSims/" class="linkDown">The WNSHS Seniors of 96 Homepage</a> <font color="#FF33CC"><b>-X-</b></font></dd>
    <dd><a href="http://members.tripod.com/~SGAA/">The Unappreciated Spice Girls Appreciation Army</a><br />
    Or as it has been currently names <i>Spice Girls Admirers Anonymous</i><br />
    Bah! Admirers? I'd rather be in a Spice Army!</dd>

    <dt>Hugh</dt>
    <dd><A HREF="http://www.spirit.net.au/~laranzu/">laranzu</a><br />Contains an ATXF site, with a picture of a cyberpixie!</dd>

    <dt>Intensity (missing presumed bored) </dt>
    <dd><A HREF="http://web.logicworld.com.au/~tense/">Boink is here!</a><br />
    ps. keep scrolling!</dd>

    <dt>Jody Macgregor</dt>
    <dd></dd>

    <dt>John August </dt>
    <dd><A HREF="http://phaedra.apana.org.au/johna/ritz.html">John August</A> </dd>

    <dt>Kenneth Alexander Finlayson </dt>
    <dd><A HREF="http://www.geocities.com/Area51/3486/">Buried Alive</A></dd>
    <dd><A HREF="http://www.lookup.com/Homepages/80324/">You have been abducted by aliens</A></dd>

    <dt>Kristina (K731)</dt>
    <dd><P><A HREF="http://www.geocities.com/Area51/Cavern/2828/">The X-Zone</A></dd>

    <dt>Leith Webb</dt>
    <dd>THE APES HAVE BECOME OUR MASTERS!!!</p><br />><a href="http://www.geocities.com/Area51/Labyrinth/2178/index.html">Quarx's place</a> (now with new naked Robins!)</p></dd>

    <dt> Lyndal Cairns aka the Hampster</dt>
    <dd><A HREF="http://www.geocities.com/Hollywood/Set/2679/index.html">The Hampsters Burrow</A> This is what happens when insane people use frames. :)</dd>
    <dd><A HREF="http://www.geocities.com/SunsetStrip/Stadium/1055/index.html">Er. Another one!</a> [REP]</dd>
    <dd><A HREF="http://www.geocities.com/Hollywood/Set/2679/newindex.html">Er. Another variant of #1</a> [REP]</dd>

    <dt>Matt Mulcahy </dt>
    <dd><A HREF="http://ariel.ucs.unimelb.edu.au/~azathoth">Matt</dd>
    Mulcahy</A> <font color="#FF33CC"><b>-X-</b></font></dd>

    <dt>Matt Treyvaud </dt>
    <dd><A HREF="http://www.geocities.com/Area51/Zone/9576/">Whose mistake am I anyway?</A></dd>

    <dt>Michael Zacher </dt>
    <dd><A HREF="http://www.spirit.net.au/~mzacher/">Michael's Webpage</A> Y'know. The dude who did that anime Mulder and Scully?!!</dd>
    </dt>
    </tr>

    <dt>missyt (Melanie King)</dt>
    <dd><a href="http://www.ozemail.com.au/~missyt">Missy's H O M E P A G E</a></p></dd>
    <dd><a href="http://www.geocities.com/Athens/Olympus/5159/5159.htm">Witchcraft, Wolves and Fantasy</a></dd>

    <dt>Nina Notomi </dt>
    <dd><A HREF="http://student.uq.edu.au/~s315571/index.html">Nina's homepage</A></dd>

    <dt>Ngaire Mayo aka Frank </dt>
    <dd>Ngaire supposedly had a life so doesn't/didn't have a web page but I found it! And now she won't let me tell you where it is! But it has been ages now, so I'm putting it back in :P<br />
    <a href="http://www.fed.qut.edu.au/students/n1910507/">Ngaire's Magical Page</a></dd>
    <dd>btw her pic is on the Fifth Dimension page!<br />
    <a href="http://www.ucaqld.com.au/5dtv/">The Fifth Dimension</a> 
    And no, that is not time. </dd>

    <dt>The Oracle aka Nathan Jones</dt>
    <dd><A HREF="http://yallara.cs.rmit.edu.au/~nathanj/">Oracle's Link Page (easier than many urls)</A> Screw it. List em
    all! <font color="#FF33CC"><b>-X-</b></font></dd> 

    <dt>aus.tv's resident something-or-another the Powdered Toast Man!!!!! </dt>
    <dd><A HREF="http://www.geocities.com/WallStreet/6431">Powdered Toast Page</A></dd>

    <dt>quokka</dt>
    <dd><a href="http://www.geocities.com/Area51/Corridor/2118/">quokka's homepage</a><br />
    !!under construction page!! :)</dd>

    <dt>Rachael Bahl (-R-) </dt>

    <dt>Robert Whyte </dt>
    <dd>Rob watches far too much TV to have time to construct a web page, but his TV program (plug plug plug) has a web page<br />
    <a href="http://www.ucaqld.com.au/5dtv/">The Fifth Dimension</a> Not to be confused with the 5th Element </dd>

    <dt>Robin Harrison </dt>
    <dd><A HREF="http://yoyo.cc.monash.edu.au/~merlinc">The Courts of Chaos</A> <intense>Supposedly an online world thingo with fanfic and such, but Robin's too slackarse to do anything more with it.</intense></dd>
    <dd><p><a href="http://www.geocities.com/Area51/Dimension/9750/">The Flip Side of Merlin Corey</a> The page about Robin, pretty vacant, kinda like Robin</dd>
    <dd><p> <a href="http://www.geocities.com/TelevisionCity/Studio/1123/index.html">The ATXF Web Page</a> The new wrested-from-the-corpse-of-Leahy ATXF site.</dd>
    <dd><p> <a href="http://yoyo.cc.monash.edu.au/~merlinc/atxf/">The National Gathering Site</a> The site with all the goss on the latest plans for the ATXF National Gathering.</dd>
    <dd><p> <a href="http://yoyo.cc.monash.edu.au/groups/macc/">The Monash Anime Club</a>. A work in progress. Soon to have the first issue of  the club magazine online! </dd>
    <dd>Just don't ask about the sites in development!!!! (or DEVELOPMENT HELL!!!)  </dd>


    <dt>Sciby </dt>
    <dd><A HREF="http://www.geocities.com/SiliconValley/Heights/5107/">Scott Eiby's main homepage</a> </dd>

    <dt>SexyThang</dt>
    <dd><A HREF="http://members.tripod.com/~SexyThang/">SexyThang Lives Here!</A> Yes, Pru-of-the-big-sig is here.</dd>
    <dd><a href="http://members.tripod.com/~Pru_/">Pru's Page!</a> And here too!!!</dd>

    <dt>The Spice Girls </dt>
    <dd><A HREF="http://www.spicegirls.com/">The Spice Girls</a></dd>

    <dt>Stephen Turtle (and the Terrapins) </dt>
    <dd><A HREF="http://www.ozemail.com.au/~sturtle/">The Turtles Page</a> Fun from all the family </dd>


    <dt>Steve Leahy </dt>
    <dd><A HREF="http://modjadji.anu.edu.au/steve/"></A>An ex-web site </dd>

    <dt>Trevor Calder </dt>
    <dd><A HREF="http://www.iinet.net.au/~trevor/">Trevor's page</A></dd>

    <dt>Vanessa Meachen </dt>
    <dd><A HREF="http://web.access.net.au/gestalt/index.html">Vanessa's</dd> Pagen Place</A> A page that has won awards!<br>
    &lt;SHOCK&gt; 
    &lt;HORROR&gt; &lt;BLINK&gt;
    </dd>
    <dd><A HREF="http://www.geocities.com/TelevisionCity/6745/index.html">The Aunty Jack Page</a></dd>

    <dt>Waz </dt>

    <dt> <P>Wolfgang Schoepf </dt>
    </dl>

    <P>That's it. The show is over. Please come again. 