extends layout

block content
  article

     dl 
     dt $teve
     dd The evil one, in all shapes and forms. But apart from that he's a nice person.
     dt Robin
     dd The resident buffoon, always ready to let loose with a joke.
     dt Quokka
     dd Um. She's endangered?
     dt Leith
     dd Luscious, litesome Leith.
     dt Rob Whyte
     dd Mr &quot;TV Addiction&quot; Himself.
     dt Andy S (Grunge)
     dt Dregs
     dt annette
     dt Missy
     dt Hampster
     dt Vanessa
     dt Denver, the last dinosaur
     dd Species is extinct, so he doesn't post much.
     

     Photo gallery coming soon I have at least 3 sets of photos coming in... plus the proper conversion of the old gathering ones... Sooon! :)