body {
  background-color: #000000;
  color: #cccccc;
  margin: 0 auto;
  
/*  leftmargin: 0;
  topmargin: 0;
  marginheight: 0;
  marginwidth: 0;*/
}

a:link { 
  font-family: "Andale Mono", AndaleMono, "Monotype.com", "Lucida Console", "Courier New", monospace;
  color: #00cc00;
}

a:visited {
  color: #009900;
}

a:hover {
  color: #6666cc;
}

a:active {
  color: #6666cc;
}

a:down {
  color: #85006e;
}

ul#navigation {
  list-style-type: none;
  width: 542px;
  margin: 0 auto;
  border: 1px solid green;
  padding: 0;
}

ul#navigation > li {
  display: block;
}

ul#navigation a {
  text-decoration: none;
}

li#home {
  margin: 0 auto;
  width: 542px;
}

li#home a img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

ul#main {
  display: inline-block;
  list-style-type: none;
  width: 502px;
  margin: 0 auto;
  border: 1px solid red;
}

ul#main > li a:before {
  content: ' ';
  line-height: 0;
  font-size: 13px;
  border:4px outset #089408;
  border-radius: 2px;
  padding-left: 7px;
  padding-right: 7px;
  background-color:#00ad00;
  box-shadow: #ff0000; 
  position: relative;
  top: -3px;
}

ul#main > li {
    font-size: 22px;
}

ul#main > li:nth-child(2n+1) a {
  float: left;
  width:50%;
}

ul#main > li:nth-child(2n+2) a {
  float: left;
  width: 50%;
}

ul#tags {
  list-style-type: none;
  border: 1px solid yellow;
  text-align: center;
}

ul#tags > li {
  font-size: 14px;
  display: inline-block;
  border: 1px solid purple;
  padding-right: 10px;
  padding-left: 10px;
}
/*
ul#tags > li a:before {
  content: url(/archive/images_nav/button-small.gif);
  padding-top: 5px;
}
*/

ul#tags > li a:before {
  content: '.';
  line-height: 0;
  font-size: 8px;
  border:4px outset #089408;
  border-radius: 2px;
  padding-left: 2px;
  padding-right: 2px;
  background-color:#00ad00;
  box-shadow: #ff0000; 
  position: relative;
  top: -3px;
}

ul#chapters {
  text-align: center;
  list-style-type: none;
  width: 542px;
  border: 1px solid blue;
}

ul#chapters > li:nth-child(2n+1) a {
  font-size: 25px;
  float: left;
  width:33%;
}

ul#chapters > li:nth-child(2n+2) a {
  font-size: 25px;
  float: left;
  width: 33%;
}

ul#chapters > li:nth-child(2n+3) a {
  font-size: 25px;
  float: left;
  width: 33%;
}

ul#chapters > li:last-child a {
  font-size: 25px;
  margin: auto;
  width: 33%;
}

ul#chapters > li a:before {
  content: ' ';
  line-height: 0;
  font-size: 13px;
  border:4px outset #089408;
  border-radius: 2px;
  padding-left: 7px;
  padding-right: 7px;
  background-color:#00ad00;
  box-shadow: #ff0000; 
  position: relative;
  top: -3px;
}


ul#site {
  display: inline;
  list-style-type: none;
}



ul#site > li a:before {
  content: url(/archive/images_nav/button-small.gif);
}

ul#site > li:nth-child(2n+1) a {
  font-size: 12px;
  text-transform: lowercase;
  float: left;
  width:33%;
}

ul#site > li:nth-child(2n+2) a {
  font-size: 12px;
  text-transform: lowercase;
  float: left;
  width: 33%;
}

ul#site > li:nth-child(2n+3) a {
  font-size: 12px;
  text-transform: lowercase;
  float: left;
  width: 33%;
}

.box {
  border:10px outset #089408; background-color:#00ad00; padding:10px;
}


.radialbg {
    background: transparent -webkit-gradient(radial, center center, 50, center center, 460, from(transparent), to(#000));
    background: -moz-radial-gradient(circle, transparent, #000);
    width: 100%;
    height: 100%;
}

.linkDown:after {
  content: "-X-";
  color: #FF33CC;
  font-weight: bold;
}

li#home {
  width: 73px;
  height: 71px;
  background: url(/archive/images_nav/text-xlogo.gif);
}

.xLogo {
  width: 73px;
  height: 71px;
  line-height: 1;
}

#themeSwitcher ul:before {
  color: #00cc00;
  font-family: 'AndaleMono', sans-serif;
  content: 'themes:';
  padding-right: 10px;
  font-size: 12px;
}

#themeSwitcher ul li a {
  color: #00cc00;
  text-decoration: none;
  font-family: 'AndaleMono', sans-serif;
  text-transform: lowercase;
  font-size: 12px;
}